.App {
  text-align: center;
  background-color: #fbf3f5ff;
  min-height: 100vh;
  color: black;
}

/* ----- fonts ------ */

@import url("https://fonts.googleapis.com/css2?family=Allan:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@600&display=swap");

/* ----- navbar ----- */

#navbar {
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(78, 78, 78));
  border-bottom: 3px solid #fe7896;
  margin: 0;
  padding: 0;
}

#nav-brand {
  color: #fbf3f5;
  font-family: "Allan", cursive;
  margin-left: 10px;
  font-size: 30px;
  padding: 0px;
}

#nav-text {
  color: #fbf3f5;
  font-family: "Advent Pro", sans-serif;
  text-align: center;
  font-size: 17px;
  padding: 14px 16px;
  /* padding: 0px; */
}

#nav-text:hover {
  background-color: #fe7896;
}
