.App {
  text-align: center;
  background-color: #fbf3f5ff;
  min-height: 100vh;
  color: black;
}

/* ----- fonts ------ */

@import url("https://fonts.googleapis.com/css2?family=Allan:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@600&display=swap");

/* ----- navbar ----- */

#navbar {
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(78, 78, 78));
  border-bottom: 2px solid #fe7896;
  margin: 0;
  padding: 0;
}

#nav-brand {
  color: #fbf3f5;
  font-family: "Allan", cursive;
  margin-left: 10px;
  font-size: 30px;
  padding: 0px;
}

#nav-text {
  color: #fbf3f5;
  font-family: "Advent Pro", sans-serif;
  text-align: center;
  font-size: 17px;
  padding: 14px 16px;
  /* padding: 0px; */
}

#nav-text:hover {
  background-color: #fe7896;
}

/* ----- login form ----- */
.home-section {
  background: url(./images/empowerment-cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

.circle-overlay {
  margin-left: 30%;
  padding-top: 100px;
  width: 600px;
  background: rgba(219, 219, 219, 0.788);
  height: 600px;
  border-radius: 300px;
  border: 6px solid #fe7896;
  font-family: "Advent Pro", sans-serif;
  font-size: 20px;
}

#form-title {
  font-family: "Allan", cursive;
  font-size: 50px;
}

#form-button {
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(78, 78, 78));
  font-weight: bold;
  border: none;
  width: 30%;
}

#form-toggle {
  background-image: linear-gradient(to left, #fe7896, #f74f73);
  font-weight: bold;
  border: none;
  width: 30%;
}
